<!DOCTYPE html>
<html lang="en">

<head>
  <title>Restrend</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A website that provides a variety of restaurants">
  <meta name="theme-color" content="#F97B22">
  <meta name="keywords" content="food, eat, drink, hungry, restaurant">
  <meta name="author" content="Ardi Saputra">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./favicon.png">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>

<body>
  <a href="#main-content" class="skip">Menuju ke konten</a>
  <header>
    <h1 tabindex="0">Restrend</h1>
    <nav id="drawer">
      <a href="/">Home</a>
      <a href="/favorite">Favorite</a>
      <a href="https://www.linkedin.com/in/ardisaputra2022/">About Us</a>
    </nav>
    <button id="tab-menu">
      <img src="./icons/hamburger-icon.svg" alt="open menu" tabindex="0">
    </button>
  </header>
  <main id="main-content"></main>
  <footer>
    <p tabindex="0">Copyright &copy; 2023 - Restrend</p>
  </footer>
</body>

</html>