<!DOCTYPE html>
<html lang="en">

<head>
  <title>Restrend</title>
  <meta charset="UTF-8">
  <meta name="description" content="A website that provides a variety of restaurants">
  <meta name="keywords" content="food, eat, drink, hungry, restaurant">
  <meta name="author" content="Ardi Saputra">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="./images/shortcut-icon.jpg">
</head>

<body>
  <skip-link></skip-link>
  <app-bar></app-bar>
  <main>
    <hero-element></hero-element>
    <catalog-list id="maincontent"></catalog-list>
  </main>
  <footer>
    <p tabindex="0">Copyright &copy; 2023 - Restrend</p>
  </footer>
</body>

</html>