@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lato&family=Philosopher&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Philosopher', sans-serif;
  color: #333;
  scrollbar-width: thin;
  scrollbar-color: #F97B22 #FFF;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #FFF;
}

body::-webkit-scrollbar-thumb {
  background-color: #F97B22;
  border-radius: 20px;
  border: 3px solid #FFF;
}

footer p {
  text-align: center;
  background-color: #F97B22;
  color: #FFF;
  padding: 15px 0;
}

.text-content {
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
}


/* ========================= Header ========================= */
header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: #FFF;
  border-bottom: 1px solid #DDD;
  position: sticky;
  top: 0;
  z-index: 99;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  color: #F97B22;
}

#drawer {
  display: flex;
  flex-direction: row;
}

#drawer a {
  text-decoration: none;
  color: #F97B22;
  display: block;
  font-size: 20px;
  padding: 0 25px;
  line-height: 70px;
}

#drawer a:hover,
#drawer a:focus {
  text-decoration: underline;
}

#tab-menu {
  display: none;
}

@media screen and (max-width: 670px) {
  header {
    height: 60px;
    padding: 0 20px;
  }

  h1 {
    font-size: 36px;
  }

  #drawer {
    width: 100%;
    top: 60px;
    left: 0;
    text-align: center;
    position: absolute;
    transform: translate(-100%, 0);
    transition: transform 0.3s ease-in-out;
    background-color: #FFF;
    border-bottom: 1px solid #DDD;
    flex-direction: column;
  }

  #drawer.open {
    transform: translate(0, 0)
  }

  #drawer a {
    font-size: 18px;
    line-height: 52px;
    border-top: 1px solid #DDD;
  }

  button {
    background-color: transparent;
    border: none;
    padding: 10px;
  }

  #tab-menu img {
    width: 30px;
  }

  #tab-menu {
    display: block;
  }
}


/* ========================= Skip Link ========================= */
.skip {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  background-color: #0f0;
  padding: 10px;
  position: absolute;
  top: -50px;
  z-index: 100;
}

.skip:focus {
  top: 100px;
}


/* ========================= Hero ========================= */
.hero {
  position: relative;
}

.hero-img {
  width: 100%;
}

.hero-content {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 0.6rem;
  text-shadow: #F97B22 0px 14px 28px, #F97B22 0px 10px 10px;
}

@media screen and (min-width: 1200px) {
  .hero-img {
    min-width: 1000px;
    margin: 0 auto;
    display: block;
  }
}

@media screen and (min-width: 670px) {
  .hero-content {
    top: 12%;
    color: #FFF;
    font-size: 68px;
    letter-spacing: 2rem;
  }
}


/* ========================= Catalog List ========================= */
.main-content__title {
  margin: 50px 0 15px;
  font-size: 28px;
  text-align: center;
  text-decoration: underline;
  color: #F97B22;
}

.main-content__caption {
  text-align: center;
  font-size: 20px;
  padding: 0 20px;
  margin-bottom: 30px;
}

.container-list-restaurant {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10px 50px;
}

.restaurant-item {
  width: 300px;
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
}

.restaurant-item:hover {
  position: relative;
  bottom: 5px;
  transition-duration: 0.7s;
  box-shadow: rgba(0, 0, 0, 0.24) 0 1px 1px;
}

.restaurant-item__header {
  position: relative;
}

.restaurant-item__header__title {
  position: relative;
  top: 20px;
  z-index: 10;
  padding: 4px 0 4px 12px;
  width: 60%;
  background-color: #F97B22;
  color: #FFF;
}

.restaurant-item__header__image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.restaurant-item__body {
  margin-top: 180px;
  padding: 10px 20px 30px;
}

.restaurant-item__body__title {
  color: #F97B22;
  text-decoration: none;
}

.restaurant-item__body__subtitle {
  margin: 20px 0 10px;
}

@media screen and (min-width: 1200px) {
  .main-content__title {
    margin: 80px 0 20px;
    font-size: 32px;
  }

  .container-list-restaurant {
    padding: 0 10px 80px;
  }

  .restaurant-item {
    width: 350px;
    margin: 20px;
  }
}


/* ========================= Restaurant Detail ========================= */
.restaurant-detail {
  padding: 12px;
}

.restaurant-detail__header {
  margin-bottom: 24px;
  text-align: center;
}

.restaurant-detail__header__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin: 0 auto;
  margin-top: 12px;
  display: block;
}

.restaurant-detail__categori {
  margin-bottom: 12px;
}

.restaurant-detail__categori__content__item {
  display: inline-block;
  border: 1px solid #777;
  border-radius: 16px;
  padding: 4px 16px;
  margin: 12px 4px 12px 0;
}

.restaurant-detail__categori__content__item:hover {
  border: 1px solid #f97c2236;
  background-color: #f97c2236;
}

.restaurant-detail__overview {
  margin-bottom: 24px;
}

.restaurant-detail__overview__content {
  margin-top: 8px;
  text-align: justify;
}

.restaurant-detail__menu {
  margin-bottom: 24px;
}

.restaurant-detail__container-menu {
  margin: 12px 0;
  padding: 12px;
  background-color: #f97c2236;
  border-radius: 8px;
}

.restaurant-detail__menu__food,
.restaurant-detail__menu__drink {
  margin: 8px 0 0 1.5rem;
}

.restaurant-detail__review {
  margin-bottom: 24px;
}

.restaurant-detail__review__content {
  margin: 12px 0;
}

.restaurant-detail__review__item {
  padding: 8px 0;
  border-bottom: 1px solid #CCC;
}

.restaurant-detail__review__item__date {
  font-size: 12px;
  font-weight: bold;
  text-align: end;
  margin-top: 4px;
}

.restaurant-detail__review__form {
  margin: 0 auto;
  margin-top: 24px;
}

.restaurant-detail__review__form__content,
.restaurant-detail__review__form__name {
  width: 100%;
  margin-bottom: 8px;
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #f97c2236;
}

.restaurant-detail__review__form__name:focus,
.restaurant-detail__review__form__content:focus,
.restaurant-detail__review__form__name:active,
.restaurant-detail__review__form__content:active {
  border: none;
  outline: 1px solid #F97B22;
}

.restaurant-detail__review__form__button {
  padding: 4px 28px;
  border: 1px solid #F97B22;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  background-color: #FFF;
  display: block;
  margin: 0 auto;
  margin-top: 8px;
}

.restaurant-detail__review__form__button:hover {
  background-color: #F97B22;
  color: #FFF;
}

.favorite {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F97B22;

  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;

  font-size: 24px;
  color: #FFF;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .restaurant-detail {
    padding: 24px;
    width: 70%;
    margin: 0 auto;
  }

  .restaurant-detail__header__image {
    max-width: 65%;
    height: auto;
  }

  .restaurant-detail__container {
    display: flex;
    justify-content: space-between;
  }

  .restaurant-detail__container-menu {
    width: 50%;
    margin: 12px 20px;
  }

  .restaurant-detail__review__form {
    width: 75%;
    display: flex;
    flex-direction: column;
  }

  .restaurant-detail__review__form__button {
    width: 110px;
  }
}